*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(beautiful-full-moon-q1k8i2g2m4y8phgo.jpg);
    background-position: to;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.contenedor{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.bienvenidoRegreso{ 
    display: flex;
    align-items: center;
    text-align: center;
}

.mensajes{
    padding: 1rem;
}

.texto-titulo{
    color: red;
    font-size: 2rem;
}

.mensajes h2{
    font-size: 1.7rem;
    padding: 1rem 0;
}

.mensajes button{
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3 ease-in;
    color: #fff;
}

.mensajes button:hover{
    background-color: #6464f8;
}

.formulario{
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(51 , 51, 51, 0.602);
    text-align: center;
}

.text-crear-cuenta{
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;

}

.bordes-iconos{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.bordes-iconos:hover{
    background-color: #4a4aee;
    cursor: pointer;
}

.cuenta-gratis{
    padding: 2rem 0;
}

.formulario input{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: #fff thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: #fff;
}

.iniciarSesion-btn{
    width: 60%;
    margin: auto;
    border: solid thin #fff;
    padding: .7rem;
    border-radius: 2rem;
    background-color: #fff;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.registro{
    width: 60%;
    margin: auto;
    border: solid thin #fff;
    padding: .7rem;
    border-radius: 2rem;
    background-color: #fff;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.iniciarSesion{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.iniciarSesion.activa{
    opacity: 1;
    visibility: visible;
}

.resgistrarseSesion.activa{
    opacity: 0;
    visibility: hidden;
}

